.pointer        { cursor: pointer; }
.cell           { border: 1px solid;  }
.l-align        { text-align: left; }
.c-align        { text-align: center; }
.noborder       { border-style: none; }

.fullwidth      { width: 100%; }
.flexdiv        { display: flex; }
.flex1          { flex: 1; }

.b_lightgrey    { background: #e5e2e2; }
.b_grey         { background: #d4c7c7; }

.padding50      { padding: 50px; }

.tiny           { max-width: 25em; margin: auto; }
.centerelt      { margin-top: 50vh; transform: translateY(-50%); }
.icon           { width: 24px; height: 24px; }

.solved         { background: #3de250 }

@media (max-width: 480px)
{
    .page-body {
        margin-top: 40px;
        padding-left: 25px;
        padding-right: 25px;
    }
}